<div *ngIf="wait">
    <h1 class="brown-title">{{ wait.titlePost }}</h1>
    <hr>
    <div class="card mb-3">
      <img style="border: 2px solid; padding: 1em"class="card-img-top img-public-title" [src]="wait.imgTitle" alt="Card image cap" *ngIf="wait.imgTitle">
      
      <div class="card-body">
        <h5 class="card-title">{{ wait.titlePost }}</h5>
        <p class="card-text" [innerHTML]="wait.descriptionPost"></p>
        <!-- <p class="card-text"><small class="text-muted">{{ publication.fechaPublicacion }}</small></p> -->
      </div>
    </div>
    <h5><a routerLink="/esperasDelJabali" class="brown-title">Volver a Artículos</a></h5>
  </div>