<h1 class="brown-title">Perdiz con reclamo</h1>
<hr>

<div *ngIf="publications.length > 0">
  <div class="card mb-3" *ngFor="let public of publications">
    <img style="border: 2px solid; padding: 1em" class="card-img-top img-public-title" [src]="public.imgTitle" alt="Card image cap" *ngIf="public.imgTitle">
    <div class="card-body">
      <h5 class="card-title brown-title">{{ public.titlePost }}</h5>
      <p class="card-text" [innerHTML]="public.descriptionPost | limiteCaracteres"></p>
      <p class="card-text"><small class="text-muted">Fecha publicación {{ public.fechaPublicacion }}</small></p>
    </div>
    <button
      (click)="showDetail(public.id)"
      type="button"
      class="btn btn-outline-primary btn-block"
    >
    Leer más...
    </button>
  </div>
</div>