<h1>Artículos</h1>
<hr>

<div *ngIf="publications.length > 0">
  <div class="card mb-12" *ngFor="let public of publications">
    <img class="card-img-top img-title-publication" style="" [src]="public.imgTitle" alt="Card image cap" *ngIf="public.imgTitle">
    <div class="card-body">
      <h5 class="card-title">{{ public.titlePost }}</h5>
      <p class="card-text" [innerHTML]="public.descriptionPost | limiteCaracteres"></p>
      <!-- <p class="card-text"><small class="text-muted">{{ public.fechaPublicacion }}</small></p> -->
    </div>
  <!-- (click)="showDetail(public.id)" -->
    <button
      (click)="showDetail(public.id)"
      type="button"
      class="btn btn-outline-primary btn-block"
    >
    Ver más...
    </button>
  </div>
</div>